#page{
	width: 1000px;
	background-color: #fff;
	margin: 0 auto 0 auto;
	min-height: 500px;
	border: 1px solid #bbb; 
}

#header{
	height: 100px;
	position: relative;
	background-color: #beb;
	border-bottom: 3px solid #bbe;
}

#menu {
	position: absolute;
	bottom:0px;
	right: 10px;
}


#menu_items{
	list-style-type:none; 
}

#menu_items li{
	margin: 2px 2px 0px 2px;
	padding:2px;
	border: 2px solid #cce;
	border-bottom: 0px;
	background: #bbe;
	float:left;
}

#workspace {
	margin:0px;
	position: relative;
}

#admin_menu {
	padding: 0px;
	background-color: #bbe;
	min-width: 200px;
	vertical-align: top;
}

#admin_menu_items{
	list-style-type:none;
	left:-20px;
	position: relative; 
	min-height:399px;
}

#admin_menu_items li{
	margin:2px;
	padding:2px 4px 2px 4px;
	border:1px solid #eee;
	position: relative;
}

#admin_content{
	padding: 0px;
	width:100%;
	vertical-align: top;
}

table.admin_tabla{
	border:1px solid;
	margin:5px auto;
	min-width: 500px;
}

table.admin_tabla td{
	padding: 0px 5px;
}

table.admin_tabla th{
	background-color: #555;
	padding: 5px;
	color: #ddd;
}

tr.admin_tabla_linea_0{
	background-color: #fff;
}

tr.admin_tabla_linea_1{
	background-color: #ccc;
}

tr.admin_tabla_linea_new{
	background-color: #ffa;
}

table.admin_tabla td.admin_tabla_footer {
	background-color: #555;
	text-align: right;
	padding: 3px;
}

th.admin_tabla_actions {
	width: 65px;
}

.button_link{
	border: 1px solid;
	padding: 2px;
	margin: 5px;
}

.admin_titulo{
	font-size: 25px;
	width: 90%;
	/* fallback*/
    background: #bbe;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #bbbbee, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#bbbbee), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#bbbbee', EndColorStr='#ffffff', GradientType=1);

	padding:10px 0px 10px 10px;
	margin: 0px 0px 0px 0px; 
	text-transform: uppercase;
}

.admin_subtitulo{
	font-size: 12px;
	width: 95%;
	padding:2px 0px 0px 30px;
	margin: 10px 5px 10px 5px; 
	text-transform: uppercase;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#pop_up {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#popup_oscurece_pantalla {
	background-color: #030;
	position: fixed;	
	width: 100%;
	height: 100%;
	filter:alpha(opacity=80);
	opacity: .80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*--IE 8 Transparency--*/
	left: 0px;
	top: 0;
	z-index: 10;
}

.popup_block {
	background: #ddd;
	border: 3px solid #fff;
	position: fixed;
	z-index: 100;
	margin: 5% 25%;
	padding: 20px 40px 0px 40px;
}

.close_link{
	position: absolute;
	right: -10px;
	top: -10px;
	background-image: url("/images/icon_close.png");
	width: 21px;
	height:21px;	
}

div.actions {
  text-align: right;
  margin-right: -20px;
}

div.actions input, .admin_tabla_footer input, #busqueda_menu input, #visitas_action input, .doc_actions input{
	border:1px solid;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

div.actions input:hover, .admin_tabla_footer input:hover, #busqueda_menu input:hover{
	background: #ccc;
}

#busqueda_menu {
	padding: 0px;
	background-color: #bbe;
	width: 100%;
	height: 35px;
}

#paciente_titulo{
	font-size: 25px;
	width: 90%;
	/* fallback*/
    background: #bbe;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #bbbbee, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#bbbbee), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#bbbbee', EndColorStr='#ffffff', GradientType=1);

	padding:10px 0px 10px 10px;
	margin: 0px 0px 0px 0px; 
	text-transform: uppercase;
}

#paciente_subtitulo{
	font-size: 15px;
	width: 90%;
	/* fallback*/
    background: #bbe;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #bbbbee, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#bbbbee), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#bbbbee', EndColorStr='#ffffff', GradientType=1);

	padding:3px 0px 3px 10px;
	margin: 0px 0px 0px 0px; 
	text-transform: uppercase;
}

#paciente_datos{
	margin:5px auto 0px auto;
	width: 750px;
}

#paciente_datos td{
	padding: 2px 5px 2px 5px;
	width: 25%;
	vertical-align: top;
}

#paciente_datos td p{
	margin:0px;
}

#paciente_datos td.campo{
	background: #8f8;
	font-weight: bold;
}

#paciente_datos td.dato{
	background: #afa;
}

#paciente_datos th.dato{
	background: #4f4;
}

#paciente_datos th.actions{
	background: #ccc;
}

#paciente_datos td.input{
	background: #afa;
}

textarea {
	width:99%;
	height:60px;
}

#paciente_content{
	padding:0px;
}

#ordenar a{
	background-color:transparent;
}

#ordenar a img{
	border:0px;
	width:17px;
	vertical-align: middle;
	margin: 2px;
}

#ordenar a img:hover{
	width:21px;
	margin:0px;
}

.editable{
	min-width: 75px;
	margin: 0px;
	padding: 0px;
}

.editable:hover { 
	background: #ff6; 
	cursor: pointer 
}

.sin_valor {
	font-style: italic;
	color: #aaa;
}

input#valor {
	width: 100%;
	border: 0px;
}

td.dato form div input{
	display:none;
}

table.doc_tabla {
	border:0px;
	width: 750px;
	margin: 0px auto 5px auto;
}
table.doc_tabla td{
	padding: 0px 5px;
	background-color: #ccc;
	width: 75%;
}

table.doc_tabla td.actions{
	width: 25%;
	text-align:center;
}

table.doc_tabla th{
	background-color: #555;
	padding: 1px;
	color: #ddd;
}

table.doc_tabla div.doc_actions {
	float:right;
}

textarea.eyp {
	height: 200px;
	width: 95%;
}

div.eyp {
	margin: 5px 15px;
}

#texto_libre.field textarea{
	height:100px;
}