<div id="pop_up" style="display:none">
	<div id="popup_oscurece_pantalla"></div>
	<div class="popup_block">
		<%=link_to_function('', "Element.hide('pop_up')", :class=>'close_link') %>
		<div id="PUF_contenido"></div>			
	</div>
</div>
